.mobile_menu {
  background: linear-gradient(
      180deg,
      rgba(254, 150, 198, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ffffff;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.openNav {
  right: 0;
  padding: 20px 10px;
}
